@charset 'utf-8';
@import './helpers/variables';
@import './helpers/mixin';
@import './helpers/grid';
@import './components/modal';
@import './components/circle-cover';
$base-main-width: 320px;
$device-list: 300px 360px 400px;
@each $current-device in $device-list {
  $i: index($device-list, $current-device);
  @media (min-width: $current-device) {
    body,
    html {
      font-size: $current-device/$base-main-width + rem;
    }
  }
}


#nespresso-festival-mobile {
  font-family: $body-font-family;
  font-size: px2rem(16px);
  font-weight: $font-weight-regular;

  height: 100%;
  margin: 0 auto;

  word-wrap: break-word;

  color: $font-color-white;
  background-color: $background-color-default;

  $base-main-width: 320px;
  $device-list: 300px 360px 400px;
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  @each $current-device in $device-list {
    $i: index($device-list, $current-device);
    @media (min-width: $current-device) {
      font-size: $current-device/$base-main-width + rem;
    }
  }
  a {
    display: inline-block;

    text-align: center;
    text-decoration: none;
  }
  section {
    padding: 0;
    padding-top: px2rem(50px);
  }
  .container {
    position: relative;

    overflow: hidden;

    width: 100%;
    min-width: 320px;
    max-width: 425px;
    header {
      text-align: center;
      h3 {
        font-size: px2rem(20px);
        font-weight: $font-weight-bold;
        line-height: px2rem(28px);

        margin-bottom: px2rem(8px);

        color: $font-color-default;
      }
      span {
        font-size: px2rem(12px);
        line-height: px2rem(22px);

        color: $font-color-default;
      }
    }
    .column {
      float: left;

      margin: 0;
      padding-right: 1rem;
      padding-left: 1rem;
    }
    .column.full {
      // width: 100%;
    }
    .column.two-thirds {
      width: 66.7%;
    }
    .column.half {
      width: 50%;
    }
    .column.third {
      width: 33.3%;
    }
    .column.fourth {
      width: 25%;
    }
    .column.flow-opposite {
      float: right;
    }
  }
  #full-banner-block {
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    margin: 0 auto;

    text-align: center;

    background-color: transparent;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .visual-banner {
      position: absolute;
      z-index: -1;
      top: 0;
    }
    .pageTitle {
      font-size: px2rem(24px);
      font-style: normal;
      line-height: px2rem(33px);

      margin-top: 65%;
      margin-bottom: 0;

      text-align: center;
      text-transform: none;

      color: $font-color-default;
      border: none;
      .logo {
        font-weight: bold;
        font-style: oblique;
      }
    }
    .secondTitle {
      font-size: px2rem(12px);

      margin-top: px2rem(8px);
    }
    .btn {
      font-size: px2rem(16px);
      font-weight: $font-weight-bold;

      width: px2rem(180px);
      height: px2rem(44px);
      margin-top: px2rem(24px);
      margin-bottom: px2rem(25px);

      text-align: center;

      color: #d9c9a7;
      border: solid 1px $color-main;
    }
  }
  .btn {
    font-size: px2rem(14px);
    font-weight: $font-weight-bold;
    line-height: px2rem(44px);

    text-align: right;

    color: $color-main;
    border-radius: 4px;
    &:hover {
      text-decoration: none !important;

      color: $font-color-white !important;
      border-color: $color-second !important;
      background-color: $color-second !important;
    }
    &:active {
      background-color: #76654f;
    }
  }
  .prod-list {
    margin: 0 auto;
    margin-top: px2rem(16px);

    text-align: center;
    .prod {
      display: inline-block;

      margin: 0 auto;

      text-align: center;
    }
    .prod-name {
      font-size: px2rem(24px);
      font-weight: $font-weight-bold;
      line-height: px2rem(33px);

      width: 100%;
      margin-top: px2rem(16px);

      color: $font-color-default;
    }
    .btn {
      font-size: px2rem(14px);
      font-weight: $font-weight-bold;
      line-height: px2rem(32px);

      width: px2rem(120px);
      height: px2rem(32px);
      margin-top: px2rem(10px);

      text-align: center;

      color: $color-main;
    }
  }
  .nav {
    padding-top: px2rem(40px);
    .prod-list {
      width: px2rem(320px);
    }
    .prod {
      position: relative;

      width: px2rem(80px);
    }
    .btn {
      font-size: px2rem(12px);
      line-height: px2rem(17px);

      width: px2rem(55px);
      height: px2rem(17px);
      margin-top: px2rem(4px);
      margin-bottom: px2rem(20px);
    }
    .prod-name {
      font-size: px2rem(14px);
      line-height: px2rem(20px);

      margin-top: px2rem(10px);
    }
    .rectangle,
    .oval-copy {
      display: inline-block;

      opacity: .2;
      background-color: $background-color-inverse;
    }
    .rectangle,
    .oval-copy {
      width: px2rem(139px);
      height: px2rem(1px);

      border-radius: px2rem(45px);
    }
    .oval-copy {
      width: px2rem(2px);
      height: px2rem(2px);
    }
  }
  .simple,
  .master,
  .romantic,
  .sets {
    position: relative;
    .prod-list {
      position: relative;

      overflow: auto;

      width: 320px;
      height: 250px;

      text-align: center;
    }
    .prod {
      position: absolute;
      top: 0;
      left: 0;

      visibility: hidden;

      width: 320px;
    }
    .prod-name {
      font-family: PingFangTC;
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;

      width: 100%;

      text-align: center;

      color: $font-color-default;
    }
    .popup-detail {
      font-size: px2rem(14px);
      font-weight: 500;
      line-height: 30px;

      display: inline-block;

      width: 60px;
      height: 30px;
      margin-left: 8px;

      cursor: pointer;
      text-align: center;

      color: $font-color-default;
      border: solid 1px $font-color-default;
      border-radius: 4px;
    }
    .prod-price {
      font-size: px2rem(24px);
      font-weight: $font-weight-bold;

      width: px2rem(265px);
      height: px2rem(33px);
      margin: 0 auto;
      margin-top: px2rem(10px);

      color: $font-color-default;
      .prod-lastprice {
        font-size: px2rem(16px);

        margin-top: px2rem(24px);

        text-decoration: line-through;
      }
    }
    .btn {
      font-size: px2rem(16px);
      line-height: 44px;

      width: 180px;
      height: 44px;
      margin-top: 16px;

      border: solid 1px $color-main;
      border-radius: 4px;
    }
    .prod-detail-info {
      margin-top: 69px;
      a {
        line-height: 22px;

        text-align: center;

        color: $color-third;
        &:before {
          display: inline-block;

          margin-right: 8px;

          content: ' ';

          border-right: 7px solid transparent;
          border-bottom: 15px solid $color-third;
          border-left: 7px solid transparent;
        }
      }
    }
  }
  .simple {
    // width: 320px;
    width: 100%;
    min-width: 320px;
    max-width: 425px; // padding-bottom: px2rem(150px);
    // height: 760px;
    height: px2rem(710px);
    margin: 0 auto;
    padding-top: px2rem(32.5px);

    background-color: $background-color-default;
    background-image: url(../img/m/bg/simple-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    .prod-slider {
      height: px2rem(250px);
      .prod-photo {
        img {
          width: auto;
          height: px2rem(190px);
        }
      }
    } // .prod{
    //   padding-bottom: px2rem(150px);
    // }
  }
  .romantic {
    position: relative;

    width: 100%;
    min-width: 320px;
    max-width: 425px;
    height: px2rem(800px);
    margin: 0 auto;
    margin-top: px2rem(-150px);

    background-color: transparent;
    background-image: url(../img/m/bg/milk-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    .container {
      height: px2rem(730px);
    }
    .modal {
      top: 20%;
    }
    header {
      padding-top: 75px;
      h3,
      span {
        color: $font-color-inverse;
      }
    }
    .prod-name {
      color: $font-color-inverse;
    }
    .popup-detail {
      color: $font-color-inverse;
      border-color: $font-color-inverse;
    }
    .prod-lastprice,
    .prod-price {
      color: $font-color-inverse;
    }
    .btn {
      line-height: 44px;

      margin-top: 16px;

      color: $color-third;
      border-color: $color-third;
    }
    .coffee-bean-right {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 123px;
      height: 128px;

      object-fit: contain;
    }
    .fruit-001 {
      position: absolute;
      bottom: 10px;
      left: 0;

      width: 266px;
      height: 141px;

      object-fit: contain;
    }
    .prod-slider {
      height: px2rem(280px);
      .prod-photo {
        img {
          width: auto;
          height: px2rem(200px);
        }
      }
    }
  }
  .master {
    position: relative;

    padding-top: 0;

    background-color: transparent;
    .prod-name {
      margin-top: 35px;
    }
    .prod-list {
      height: 213px;
      padding-top: 57px;
    }
    .coffee-bean-left {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 186px;
      height: 177px;

      object-fit: contain;
    }
    .creastista-plus {
      font-size: px2rem(14px);

      margin-top: 40px;

      text-align: center;
      text-decoration: underline;

      color: $color-main;
    }
    .prod-slider {
      height: px2rem(250px);
      .prod-photo {
        img {
          width: auto;
          height: px2rem(200px);
        }
      }
    }
  }
  .btn-limit-time-offer {
    font-size: px2rem(16px);
    line-height: px2rem(30px);

    position: absolute;
    top: px2rem(5px);
    left: -38%;

    display: block;

    width: px2rem(120px);
    height: px2rem(30px);
    margin-bottom: px2rem(8px);

    text-align: center;

    color: $font-color-default;
    border-radius: px2rem(4px);
    background-image: linear-gradient(to bottom, #ff6b6b, #ff3939);
    &:hover {
      text-decoration: none;
    }
  }
  .align-right {
    text-align: right !important;
  }
  .align-left {
    text-align: left !important;
  }
  .all-list {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    padding-top: 0;
    &.fixed {
      padding-top: px2rem(300px);
    }
    a {
      width: 100%;
    }
  }
  .sets {
    padding-top: 32px;
    .prod-slider {
      height: px2rem(210px);
      .prod-photo {
        img {
          width: auto;
          height: px2rem(110px);
        }
      }
    }
    .prod-list {
      height: px2rem(150px);
    }
  }
  .footer {
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    margin: 0 auto;
    padding-top: px2rem(32px);
    &.fixed {
      position: fixed;
      bottom: 0;
      left: 50%;

      padding-bottom: 0;

      transform: translateX(-50%);

      background-color: $background-color-default;
    }
    .footer-promo-img {
      margin-top: px2rem(46px);
    }
    .promo-all-list {
      font-size: px2rem(16px);
      line-height: px2rem(44px);

      position: relative;

      width: px2rem(280px);
      height: px2rem(44px);
      margin: 0 auto;
      padding-left: 23%;

      text-align: left;

      color: $font-color-default;
      border: solid 1px $color-main;
      border-radius: px2rem(100px);
      .circle-icon {
        position: absolute;
        top: 15%;
        left: 3%;

        display: inline-block;

        width: px2rem(30.9px);
        height: px2rem(30.8px);
      }
    }
    a {
      width: 100%;
    }
  }
  .modal {
    width: px2rem(300px);
    margin: 0 auto;
    .modal-content {
      overflow-y: auto;

      border-radius: px2rem(5px);
      background-image: linear-gradient(to bottom, $background-color-default, $font-color-inverse);
      box-shadow: 0 px2rem(10px) px2rem(20px) 0 rgba(0, 0, 0, .5);
      .container {
        width: px2rem(300px);
        height: auto;
      }
    }
    .prod-intro {
      width: px2rem(270px);
      margin-top: 0;
      margin-left: 0;
      padding-top: px2rem(5px);
    }
    .prod-title {
      font-size: px2rem(20px);
      font-weight: 600;
      line-height: 1.3;

      width: px2rem(260px);

      text-align: left;

      color: $font-color-white;
      strong {
        font-size: px2rem(24px);
        line-height: 1.3;

        color: $color-main;
      }
    }
    .prod-note,
    .prod-notice {
      font-size: px2rem(12px);
      line-height: px2rem(30px);

      padding-top: 0;
      padding-bottom: px2rem(10px);

      text-align: center;
    }
    .prod-detail {
      font-size: px2rem(16px);

      padding-top: px2rem(16px);
    }
    .prod-note {
      margin-top: px2rem(35px);
    }
    .close {
      font-size: px2rem(55px);
      font-weight: 300;

      margin-right: px2rem(10px);
    }
    .gift {
      font-size: px2rem(16px);
      line-height: px2rem(30px);

      position: relative;
      top: 0;

      width: px2rem(120px);
      height: px2rem(30px);
      margin-bottom: px2rem(5px);

      border-radius: px2rem(4px);
    }
  }
  .prod-slider {
    width: 100%;
    min-width: 320px;
    max-width: 425px;
    margin: 0 auto;
    .prod-photo-wrap {
      line-height: px2rem(100px);

      position: relative;

      width: px2rem(138px);
      margin: 0 auto;
      padding: 2%;

      text-align: center;

      background: transparent;
      .prod-photo {
        margin: 0 auto;
        padding-top: px2rem(48px);
      }
    }
  }
}
