$cover-color: #deceab;

#nespresso-festival-web,
#nespresso-festival-mobile {
  .circle-cover {
    display: inline-block;
    float: left;

    width: 160px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 20px;

    cursor: pointer;
    text-align: center;

    border-radius: 50%;
    &:after {
      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;

      box-sizing: content-box;
      width: 160px;
      height: 160px;

      content: '';
      transition: transform .4s, opacity .4s;

      opacity: .4;
      border-radius: 50%;
      background-color: $color-second;

      backface-visibility: hidden;
    }
    &:hover {
      &:after {
        transition: transform .2s, opacity .2s;
        transform: scale(1.5);

        opacity: 0;
      }
    }
  }
}
